.bgc-18 {
    background-color: #00fd4cd7;
}
.bgc-19 {
    background-color: #b26fff;
}
.bgc-0 {
    background-color: #dddddd;
}
.bg {
    background-color: #121212;
}
.bg-black {
    background-color: #000000;
}
.bg-1 {
    background-color: #272727;
    color: #ffffff;
}

.text-1 {
    color: #ffffff;
}

html {
    background-color: #000000;
}

.node {
    border: 1px solid #00fd4cd7;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    font-size: 12px;
    background-color: #00fd4cd7;
    color: black;
    font-weight: bold;
}

.text-light {
  color: #fff;
}

.text-light:hover {
  text-decoration: none;
}